<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Authentication Failed</title>
</head>
<body>
    <h1>Authentication Failed</h1>
    <p>Make sure your steam account is linked to discord. If the problem persists, join the <a href="https://discord.gg/hh9v4eF">support server</a>.</p>
    <a href="/auth/discord">Try Again</a>
</body>
</html>